
@model AcademiaCerului.Models.ListViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>
    AM RAMAS LA:
    UTC in baza de date...
</p>

<div id="content">
    <h1>@ViewBag.Title</h1>

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            Html.Partial("_PostTemplate", post);
        }
    }
    else
    {
        <p>Nu exista postari</p>
    }
</div>

