
@model AcademiaCerului.Models.ListViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>
    AM RAMAS LA:
    Strongly-typed Views
    Unlike the normal views which inherit from System.Web.Mvc.ViewPage, a strongly-typed view inherits from System.Web.Mvc.ViewPage<T> and contains a Model property that is of type specified by T. The most important advantage of strongly-typing a view is intellisense support.
</p>

