
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eroare Server</title>
</head>
<body>
    <div>
         A apărut o eroare pe server!
    </div>
</body>
</html>
