
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resursa inexistenta</title>
</head>
<body>
    <div>
        Resursa căutată nu a fost găsită! 
    </div>
</body>
</html>
