<div class="container">
    <div class="col-sm-4 col-xs-12">
        @Html.Partial("_Search")
    </div>
    <div class="col-sm-4 col-xs-12">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Postari", "Posts", "Blog")</li>
            <li>@Html.ActionLink("Categorii", "", "")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </div>
    <div class="col-sm-4 col-xs-12">
    </div>
</div>